*, *::before, *::after {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	margin: 0;
}

.ntwrk-body {
	position: relative;
}

/* Common styling starts here */

a {
	text-decoration: none;
}

img.i, svg.i {
	transition: all .3s ease-out;
	overflow: hidden;
	vertical-align: -.2em;
	width: 100%;
	height: auto;
}

.ntwrk-container {
	width: 85%;
	height: 100%;
	margin: 0 auto;
	padding: 2rem 0;
	transition: all .3s ease-out;
}

.orange-sep {
	border-bottom: 5px solid #fdb943;
	border-radius: 50px;
	margin: 1rem auto 1.5rem auto;
	width: 10%;
	transition: all .3s ease-in-out;
}

.white-sep {
	border-bottom: 5px solid #ffffff;
	border-radius: 50px;
	margin: 1rem auto 1.5rem auto;
	width: 10%;
}

.purple-sep {
	border-bottom: 5px solid #2e2163;
	border-radius: 50px;
	margin: 1rem auto 1.5rem auto;
	width: 10%;
}

.title {
	margin: 0 auto;
}

.title > h1 {
	text-align: center;
}

.align-center p {
	text-align: center;
}

.align-center > li {
	text-align: center;
	margin: 0 auto;
}

.excerpt > p {
	line-height: 1.3rem;
}

.excerpt p:not(:first-child) {
	margin-top: 2rem;
}

.list-style-none > ul {
	list-style-type: none;
}

/* Common styling ends here */

/* Body styling starts here */

.ntwrk-header {
	width: 100%;
	transition: all .125s ease-out;
}

.outer-header {
	box-shadow: 0 0 0.8rem 0 rgba(40,43,46,.15);
}

.ntwrk-header .header {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	margin: 0;
	height: 5rem;
}

.ntwrk-header .header .header-logo {
	display: inline-block;
	width: 10rem;
	height: 2.5rem;
	margin-left: 2.5rem;
	transition: all .3s ease-out;
}

.ntwrk-header .header .header-logo a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all .125s ease-out;
}

.landing-page .banner {
	display: flex;
	align-content: flex-end;
	align-items: flex-end;
	position: relative;
	background-color: #fdb943;
	/* width: 100%; */
	height: 100%;
}

.landing-page .banner .top-banner-float {
	position: absolute;
	right: 0;
	overflow: hidden;
	/* width: 200px; */
	width: 100%;
	height: 410px;
}
.landing-page .banner .top-banner-float > img.banner-right {
	position: absolute;
	top: 0;
	right: -25px;
	width: 255px;
	z-index: 2;
	transition: all .3s ease-out;

}
.landing-page .banner .top-banner-float > img.banner-bubble-right {
	position: absolute;
	top: 60px;
	right: -160px;
	height: 250px;
	width: 250px;
	z-index: 1;
	transition: all .3s ease-out;
}

.landing-page .banner .banner-content {
	margin-left: 2rem;
	padding-top: 8rem;
	padding-bottom: 3.5rem;
	z-index: 999;
	transition: all .3s ease-out;
}

.landing-page .banner .banner-content h1.banner-heading {
	color: #ffffff;
	width: 240px;
	font-size: 1.5rem;
	font-weight: 100;
	line-height: 1.8rem;
	margin-bottom: .5rem;
}

.landing-page .banner .banner-content p.banner-desc {
	color: #ffffff;
	font-size: .7rem;
	transition: all .3s ease-out;
}

/* .landing-page .banner img.banner-right {
	position: absolute;
	top: -60px;
	right: 6px;
	width: 290px;
	z-index: 5;
	transition: all .3s ease-out;
}

.landing-page .banner img.banner-bubble-right {
	position: absolute;
	z-index: 0;
	top: 10px;
	right: 0;
	width: 170px;
	height: 340px;
} */

.landing-page .banner .banner-content div.cta {
	margin-top: 3rem;
}

.landing-page .banner .banner-content div.cta a.btn {
	background-color: #2e2163;
	color: #ffffff;
	padding: 1rem 2rem;
	border-radius: 50px;
}

.landing-page .banner .banner-content div.cta a.btn:hover {
	background-color: #463392;
	transition: all .135s ease-in;
}

.landing-page .section-digital .list-item ul li p {
	line-height: 1.5rem;
}

.landing-page .section-digital .list-item ul li:not(:last-child) {
	margin-bottom: 2rem;
}

.landing-page .section-digital .list-item > ul > li > .thumb > img {
	width: auto;
	height: 95px;
}

.landing-page .section-traffic-leads .growth-traffic .highlight-traffic {
	position: relative;
}

.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc {
	position: absolute;

}

.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc > .desc-excerpt {
	width: 85%;
	margin: 0 auto;
}

.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc > .desc-excerpt > .excerpt-heading {
	max-width: 95%;
}

.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc > .desc-excerpt > .excerpt-heading > h1 {
	color: #ffffff;
	font-weight: lighter;
	padding-top: 2rem;
	padding-bottom: 2.5rem;
	font-size: 18px;
}

.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc > .desc-excerpt > .cta {
	text-align: center;
}

.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc > .desc-excerpt > .cta > .btn {
	background-color: #ffffff;
	color: #000000;
	padding: 1.2rem 2rem;
	border-radius: 50px;
	font-size: 13px;
}

.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc > .desc-excerpt > .cta > .btn:hover {
	background-color: #7762EF;
	color: #ffffff;
	transition: all .135s ease-out;	
}

.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > img.desktop {
	display: none;
}

.landing-page .section-marketing .strategy-pack .list-pack > ul > li > h5 {
	margin-bottom: .6rem;
}

.landing-page .section-marketing .strategy-pack .list-pack > ul > li:not(:first-child) {
	margin-top: 1rem;
}

.landing-page .section-marketing .strategy-pack .list-pack > ul > li:not(:last-child) {
	border-bottom: 1px solid #F19A38;
	padding-bottom: 1rem;
}

.landing-page .section-marketing .strategy-obligation {
	margin: 2rem 0;
}

.landing-page .section-marketing .strategy-obligation > .cta {
	margin-top: 4rem;
	text-align: center;
}

.landing-page .section-marketing .strategy-obligation > .cta > .btn {
	background-color: #2e2163;
	color: #ffffff;
	padding: 1rem 2rem;
	border-radius: 50px;
}

.landing-page .section-marketing .strategy-obligation > .cta > .btn:hover {
	background-color: #463392;
	transition: all .135s ease-in;
}

.landing-page .section-marketing .strategy-obligation > .obligation-item {
	margin: 4rem 0;
}

.landing-page .section-marketing .strategy-obligation > .obligation-item img.injected-svg  {
	height: 3rem;
	width: auto;
	margin: 1rem 0;
}

.landing-page .section-marketing .strategy-obligation > .obligation-item h5 {
	/* font-weight: lighter; */
	color: #2e2163;
	margin-bottom: 1rem;
}

.landing-page .section-marketing .strategy-obligation > .obligation-item p {
	font-size: 14px;
}

.landing-page .section-partner .top-divider {
	position: relative;
}

.landing-page .section-partner .top-divider > div.top-people {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	text-align: center;
	overflow: hidden;
}

.landing-page .section-partner .top-divider > div.top-people > img {
	max-width: 100%;
	min-width: 40%;
}

.landing-page .section-partner .bottom-divider {
	margin-top: -4px;

}

.landing-page .section-partner .bottom-divider > img {
	width: 100%;
	
}

.landing-page .section-partner .top-divider > img.divider {
	position: relative;
	width: 100%;
	margin-bottom: -5px;
	z-index: 2;
}

.landing-page .section-partner .partner-sub {
	background-color: #2E2163;
	/* display: flex; */
	/* height: 750px; */
	height: 100%;
	width: 100%;
}

.landing-page .section-partner .partner-sub > .partner-desc {
	/* height: 460px !important; */
	max-width: 400px;
	/* align-self: flex-end; */
}

.landing-page .section-partner .partner-sub > .partner-desc > .title h1 {
	color: #F19A38;
	font-weight: lighter;
}

.landing-page .section-partner .partner-sub > .partner-desc > .excerpt p {
	color: #ffffff;
	font-weight: lighter;
}

.landing-page .section-partner .partner-sub > .partner-desc > .cta {
	margin-top: 3rem;
	text-align: center;
}

.landing-page .section-partner .partner-sub > .partner-desc > .cta > .btn {
	background-color: #F19A38;
	color: #ffffff;
	padding: 1rem 2rem;
	border-radius: 50px;
}

.landing-page .section-partner .partner-sub > .partner-desc > .cta > .btn:hover {
	background-color: #ff4074;
	transition: all .135s ease-in;
}

.landing-page .footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.landing-page .footer > .footer-copyright {
	padding: 0;
	/* margin-bottom: 1.5rem; */
}

.landing-page .footer > .footer-copyright > p {
	font-size: 10px;
}

.landing-page .section-partner {
	position: relative;
}

.landing-page .section-partner .bottom-divider .footer {
	position: absolute;
	display: flex;
	align-items: center;
	height: 100%;
}

.landing-page .section-partner .bottom-divider .footer .copyright {
	height: 100%;
	display: flex;
	align-items: flex-end;
} 

.landing-page .section-partner .bottom-divider .footer .copyright > p {
	margin-bottom: 1rem;
	padding-left: 12px;
	font-size: 10px;
} 

/* Body styling ends here */

/* MEDIA QUERIES */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */


@media screen and (min-width: 320px) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media screen and (min-width: 375px) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

@media screen and (min-width: 414px) {
}

@media screen and (min-width: 576px) {
	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc > .desc-excerpt > .excerpt-heading > h1 {
		padding-top: 3rem;
		font-size: 30px;
	}
}

@media screen and (min-width: 768px) {
	.ntwrk-container {
		max-width: 65%;
		padding: 2rem 0;
		transition: all .3s ease-out;
	}

	.landing-page .banner .top-banner-float {
		width: 60%;
	}

	.landing-page .banner .top-banner-float > img.banner-right {
		top: 32px;
		right: 35px;
		width: 370px;
	}
	.landing-page .banner .top-banner-float > img.banner-bubble-right {
		top: 60px;
		right: -259px;
		height: 100%;
		width: 400px;
	}
}

@media screen and (min-width: 992px) {

	.landing-page .banner .banner-content {
		margin-left: 8rem;
		padding-top: 9rem;
		padding-bottom: 10.5rem;
	}

	.landing-page .banner .top-banner-float {
		width: 500px;
		height: 495px;
	}

	.landing-page .banner .banner-content h1.banner-heading {
		width: 270px;
	}

	.landing-page .banner .top-banner-float > img.banner-right {
		top: 30px;
		right: 105px;
	}

	.landing-page .banner .top-banner-float > img.banner-bubble-right {
		top: 60px;
		right: -305px;
		width: 480px;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic> .desc {
		top: 90px;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic> .desc > .desc-excerpt > .excerpt-heading {
		width: 60%;
	}
}

@media screen and (min-width: 1200px) {

	/* Common styling starts here */
	.orange-sep {
		width: 15%;
	}
	/* Common styling ends here */

	.ntwrk-header .header .header-logo {
		margin-left: 7.5rem;
	}

	.landing-page .banner .banner-content p.banner-desc {
		font-size: .8rem;
	}

	.landing-page .section-digital .list-item > ul {
		display: flex;
		flex-wrap: wrap;
	}

	.landing-page .section-digital .list-item > ul > li {
		display: inline-block;
		width: 20%;
	}

	.landing-page .section-digital .list-item > ul > li > .thumb {
		margin-bottom: 2rem;
	}

	.landing-page .section-digital .list-item > ul > li > p {
		min-height: 10rem;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic {
		max-width: 780px;
		margin: 0 auto;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > img.mobile {
		display: none;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > img.desktop {
		display: initial;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic .desc {
		top: 0;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic .desc .desc-excerpt {
		width: 85%;
		margin: 0 auto 0 5rem;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic .desc .desc-excerpt > .excerpt-heading {
		margin: 0;
		width: 53%;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc > .desc-excerpt > .excerpt-heading > h1 {
		font-size: 18px;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic .desc .desc-excerpt > .title > h1 {
		text-align: left !important;
		line-height: 2.2rem;
	}

	.landing-page .section-traffic-leads .growth-traffic .highlight-traffic > .desc > .desc-excerpt > .cta {
		text-align: left;

	}

	.landing-page .section-marketing .strategy-obligation > .highlight-marketing {
		width: 50%;
		margin: 0 auto;
	}

}